@import '~bootstrap/scss/bootstrap';

h1 {
  font-family: elephant;
  color: lightGrey;
  text-align: center;
  font-size: 45px;
  padding: 20px;
}
body {
  background-color: #800020;
  font-style: italic;
}

input {
  font-style: italic;
}

.search {
  text-align: right;
  border: solid 10px gold;
  border-radius: 10px 15px 10px 15px;
  background-color: beige;
  display: inline-flex;
}

#deletegame {
  text-align: right;
}

.container {
  display: table;
}

button {
border-style: dashed;
}

.square {
    width: 150px;
    height: 150px;
    background-color: black;
    color: white;
    margin: 0;
    border-bottom: solid 10px white;
    display: inline-table;
  }
  .square:hover {
    background: linear-gradient(gray, gold, white);
  }
